USE master
GO
DROP DATABASE TinhDauDB
GO
CREATE DATABASE TinhDauDB
GO
USE [TinhDauDB]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaGioHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[GIA] [decimal] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[TinhTrang] [nvarchar](100) NOT NULL,
	[PhiShip] [money] NOT NULL,
	[GhiChu] [ntext] NULL,
	[DcNhanHang] [ntext] NULL,
	[MaGioHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[NhaSX] [nvarchar](100) NOT NULL,
	[TrongLuong] [float] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
	[ChatLuong] [nvarchar](100) NOT NULL,
	[MoTa] [ntext] NULL,
	[Anh] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 02/08/2021 9:08:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[Quyen] [int] NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](12) NULL,
	[DiaChi] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'Đèn xông tinh dầu nến')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'Đèn xông tinh dầu điện')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (3, N'Tinh dầu từ hoa')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[GioHang] ON 

SET IDENTITY_INSERT [dbo].[GioHang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [NhaSX], [TrongLuong], [SoLuongTon], [Gia], [ChatLuong], [MoTa], [Anh]) VALUES (3, 1, N'Đèn xông tinh dầu nến TN05', N'Xưởng Haly', 300, 100, CAST(75000 AS Decimal(18, 0)), N'Loại 1', N'Đèn nến đốt tinh dầu hình ấm trà TN05 được thiết kế rất độc đáo với hình ấm trà có họa tiết lá trúc và nắp đỏ. Mang đến sự lãng mạng, ấm áp, giúp ngôi nhà của bạn thêm đẹp và thơm hơn.', N'TN05.jpg')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [NhaSX], [TrongLuong], [SoLuongTon], [Gia], [ChatLuong], [MoTa], [Anh]) VALUES (5, 1, N'Đèn xông tinh dầu nến TN07', N'Xưởng Haly', 500, 200, CAST(70000 AS Decimal(18, 0)), N'Loại 1', N'Đèn xông tinh dầu nến mặt ngố TN07 có thân đèn và miệng đèn được thiết kế như hình một khuôn mặt đang tròn mắt ngạc nhiên rất ngộ nghĩnh. Đèn có thân gắn liền với chén đèn và chứa được rất nhiều nước ở bên trên. Cùng Hương Sắc Việt tìm hiểu thêm về đèn xông này nhé.', N'TN07.jpg')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [NhaSX], [TrongLuong], [SoLuongTon], [Gia], [ChatLuong], [MoTa], [Anh]) VALUES (6, 1, N'Đèn xông tinh dầu nến TN09', N'Xưởng Haly', 400, 50, CAST(70000 AS Decimal(18, 0)), N'Loại 2', N'Đèn nến đốt tinh dầu hình ấm trà TN09 được thiết kế rất độc đáo với hình gần giống với một chùa có họa tiết màu đen và nắp hình bát. Mang đến sự linh thiêng, ấm áp, giúp ngôi nhà của bạn thêm đẹp và thơm hơn.', N'TN09.jpg')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [Quyen], [TinhTrang], [TenKhachHang], [Email], [SoDienThoai], [DiaChi]) VALUES (N'admin', N'admin', 1, 1, N'Người quản trị', N'quantrivien@gmail.com', N'0378951234', N'Hà Nội')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [Quyen], [TinhTrang], [TenKhachHang], [Email], [SoDienThoai], [DiaChi]) VALUES (N'doan', N'123', 1, 1, N'Người quản trị', N'quantrivien@gmail.com', N'0378951235', N'Hà Nội')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [Quyen], [TinhTrang], [TenKhachHang], [Email], [SoDienThoai], [DiaChi]) VALUES (N'hoang', N'123', 1, 0, N'Người quản trị', N'quantrivien@gmail.com', N'0378951236', N'Hà Nội')
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([TenTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([TenTaiKhoan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
