
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title{
    Hóa đơn
}

<div class="container-fluid">
    <a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">Thêm mới</a>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Quản lý hóa đơn</h4>
                    <p class="card-category">Danh sách hóa đơn</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Mã hóa đơn</th>
                            <th>Ngày đặt</th>
                            <th>Tình trạng</th>
                            <th>Phí vận chuyển</th>
                            <th>Ghi chú</th>
                            <th>Hành động</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>20-1-2021</td>
                                    <td>Đang vận chuyển</td>
                                    <td>30.000đ</td>
                                    <td>Nhẹ tay. Hàng dễ vỡ</td>
                                    <td><a href="#">Sửa </a> | <a href="#">Xóa</a></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>21-1-2021</td>
                                    <td>Đang vận chuyển</td>
                                    <td>300.000đ</td>
                                    <td>Nhẹ tay. Hàng dễ vỡ</td>
                                    <td><a href="#">Sửa </a> | <a href="#">Xóa</a></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>22-1-2021</td>
                                    <td>Đang vận chuyển</td>
                                    <td>30.000đ</td>
                                    <td>Giao tận cổng số 21.</td>
                                    <td><a href="#">Sửa </a> | <a href="#">Xóa</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>