@media (max-width: 780px) {
  .shopping_01_mb {
    display: block !important;
  }
  .shopping_01 {
    display: none;
    float: right;
    background: #f3f3f3;
    box-shadow: 0 0 2px #999999;
    height: 30px;
    padding: 5px 5px 0px 5px;
    margin: 5px 0px;
    margin-bottom: 10px;
  }
  .shopping_01 span {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
    text-transform: uppercase !important;
    white-space: nowrap;
  }
  .shopping_01 strong {
    float: left;
    padding-top: 4px;
  }
  .shopping_01 img {
    float: right;
    width: 35px !important;
    padding-left: 5px;
  }
}
@media (min-width: 781px) and (max-width: 979px) {
  .shopping_01_ipad {
    display: block !important;
  }
  .shopping_01 {
    display: none;
    float: right;
    background: #f3f3f3;
    box-shadow: 0 0 2px #999999;
    height: 30px;
    padding: 5px 5px 0px 5px;
    margin: 5px 0px;
    margin-bottom: 10px;
  }
  .shopping_01 span {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
    text-transform: uppercase !important;
    white-space: nowrap;
  }
  .shopping_01 strong {
    float: left;
    padding-top: 4px;
  }
  .shopping_01 img {
    float: right;
    width: 35px !important;
    padding-left: 5px;
  }
}
@media (min-width: 980px) and (max-width: 1080px) {
  .shopping_01_ipad {
    display: block !important;
  }
  .shopping_01 {
    display: none;
    float: right;
    background: #f3f3f3;
    box-shadow: 0 0 2px #999999;
    height: 30px;
    padding: 5px 5px 0px 5px;
    margin: 5px 0px;
    margin-bottom: -10px;
  }
  .shopping_01 span {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
    text-transform: uppercase !important;
    white-space: nowrap;
  }
  .shopping_01 strong {
    float: left;
    padding-top: 4px;
  }
  .shopping_01 img {
    float: right;
    width: 35px !important;
    padding-left: 5px;
  }
}
@media (min-width: 1081px) {
  .shopping_01_pc {
    display: block !important;
  }
  .shopping_01 {
    display: none;
    float: right;
    background: #f3f3f3;
    box-shadow: 0 0 2px #999999;
    height: 50px;
    padding: 5px 5px 0px 5px;
    margin-bottom: -65px;
  }
  .shopping_01 span {
    float: left;
    padding-top: 12px;
    padding-right: 10px;
    text-transform: uppercase !important;
    white-space: nowrap;
  }
  .shopping_01 strong {
    float: left;
    padding-top: 12px;
  }
  .shopping_01 img {
    float: right;
  }
}
.div_menu_drop {
  margin: 5px 0% 5px 0%;
  width: 100%;
  float: left;
}
.div_menu_drop select {
  width: 100%;
  border: 1px solid #ece8e8;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
  float: left;
  background: #333 !important;
  line-height: 25px;
}
.boloc {
  width: 96%;
  float: left;
  border-radius: 2px;
  margin: 0% 2%;
}
@media (max-width: 480px) {
  .div_boloc {
    margin: 5px 0% 5px 0%;
    width: 100%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 5px 0px;
    width: 100%;
    float: left;
  }
  .div_search form {
    float: left;
    width: 100%;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 68%;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 2%;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 25%;
    font-size: 90%;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .div_boloc {
    margin: 15px 1% 15px 0%;
    width: 32%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 0px 0px;
    width: 100%;
    float: left;
  }
  .div_search form {
    float: left;
    width: 100%;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 75%;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 2%;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 22%;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
@media (min-width: 601px) and (max-width: 780px) {
  .div_boloc {
    margin: 15px 1% 15px 0%;
    width: 32%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 0px 0px;
    width: 100%;
    float: left;
  }
  .div_search form {
    float: left;
    width: 100%;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 75%;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 2%;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 22%;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
@media (min-width: 781px) and (max-width: 979px) {
  .div_boloc {
    margin: 15px 1% 15px 0%;
    width: 32%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 0px 0px;
    width: 100%;
    float: left;
  }
  .div_search form {
    float: left;
    width: 100%;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 75%;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 2%;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 22%;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
@media (min-width: 980px) and (max-width: 1080px) {
  .div_boloc {
    margin: 15px 10px 15px 0px;
    width: 22%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 15px 0px;
    width: 30%;
    float: right;
  }
  .div_search form {
    float: left;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 190px;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 10px 7px 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
@media (min-width: 1081px) {
  .div_boloc {
    margin: 15px 10px 15px 0px;
    width: 22%;
    float: left;
  }
  .div_boloc select {
    width: 100%;
    border: 1px solid #ece8e8;
    border-radius: 3px;
    padding: 7px;
    color: #333;
    float: left;
  }
  .div_search {
    margin: 15px 0px 15px 0px;
    width: 30%;
    float: right;
  }
  .div_search form {
    float: left;
  }
  .div_search_input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 7px;
    width: 250px;
    color: #333333;
  }
  .div_search_submit {
    background: #333;
    border-radius: 2px;
    padding: 7px 7px 7px 7px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 80%;
  }
  .div_search_submit:hover {
    background: #5d5098;
  }
}
.foreach_P50 {
  float: left;
  width: 101%;
}
.foreach_P50 li {
  float: left;
  box-shadow: 0 0 1px #999999;
  padding-bottom: 10px;
}
.foreach_P50 li:hover {
  box-shadow: 0 0 5px #999999;
}

.foreach_P50 h1 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 17px;
  color: #333;
  line-height: 130%;
}
.foreach_P50 h2 {
  line-height: 20px;
  font-weight: normal;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

.foreach_P50_img {
  text-align: center;
  margin-bottom: 5px;
  width: auto;
  height: auto;
  box-shadow: 0 0 1px #999999;
  margin: 10px;
}
.foreach_P50_img img {
  width: 100%;
  max-height: 450px;
  max-width: 450px;
}

.foreach_P50_title {
  height: 37px;
  padding: 0px 5px 5px 5px;
  text-align: center;
}
.foreach_P50_title a {
  color: #333;
  font-size: 100%;
  text-transform: uppercase;
}
.foreach_P50_title a:hover {
  color: #990000;
}

.foreach_P50_price {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
}
.foreach_P50_price p {
  color: #333;
  font-weight: bold;
  font-size: 110%;
}

.foreach_P50_rating {
  width: 100%;
  float: left;
  padding-bottom: 5px;
}
.foreach_P50_rating_box {
  width: 75px;
  height: 14px;
  font-size: 0;
  line-height: 0;
  background: url(templates/themes/img/rating.png) 0 0 repeat-x;
  text-indent: -999em;
  overflow: hidden;
  margin-left: 34%;
}
.foreach_P50_rating_box .rating {
  float: left;
  height: 14px;
  background: url(templates/themes/img/rating.png) 0 100% repeat-x;
}

.foreach_P50_detail {
  width: 100%;
  text-align: center;
  border-top: 1px dashed #e0dfe0;
  padding: 5px 0px;
}
.foreach_P50_left {
  width: 40%;
  float: left;
  padding: 0px 10px;
  text-align: left;
}
.foreach_P50_left span {
  color: #000;
  font-size: 110%;
  text-decoration: underline;
}
.foreach_P50_left span:hover {
  color: #990000;
}

.foreach_P50_right {
  width: 45%;
  float: right;
  padding: 0px 5px;
}
.foreach_P50_right i {
  color: #000;
  font-size: 110%;
}
.foreach_P50_right i:hover {
  color: #990000;
}

.foreach_P50_cart {
  background: #f07ec6;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 80%;
  min-width: 60px;
  text-align: center;
}
.foreach_P50_cart:hover {
  background: #5d5098;
}

@media (max-width: 480px) {
  .foreach_P50_li {
    width: 49%;
    margin: 5px 0px 5px 0px;
  }
  .foreach_P50_display {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .foreach_P50_li {
    width: 49%;
    margin: 0px 1% 2% 0px;
    height: auto;
  }
  .foreach_P50_display {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 780px) {
  .foreach_P50_li {
    width: 49%;
    margin: 0px 1% 2% 0px;
    height: auto;
  }
  .foreach_P50_display {
    display: none;
  }
}
@media (min-width: 781px) and (max-width: 979px) {
  .foreach_P50_li {
    width: 32.3%;
    margin: 0px 1% 2% 0px;
    height: auto;
  }
  .foreach_P50_display {
    display: none;
  }
}
@media (min-width: 980px) and (max-width: 1080px) {
  .foreach_P50_li {
    width: 24%;
    margin: 0px 1% 1.5% 0px;
    height: auto;
  }
  .foreach_P50_display {
    display: none;
  }
}
@media (min-width: 1081px) {
  .foreach_P50_li {
    width: 24%;
    margin: 0% 1% 1% 0%;
    height: auto;
  }
  .foreach_P50_display {
    display: none;
  }
}

@media (min-width: 980px) {
  .margin_kh {
    margin-bottom: -35px !important;
    margin-top: 20px;
  }
}
#fb-root {
  display: none;
}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.price-custom {
  font-weight: bold;
  font-size: 100%;
  color: #333;
}
