@{
    ViewBag.Title = "About";
}
<style>
    .config li {
        font-weight: bold;
        padding: 5px;
    }
    .config li:hover a{
        color: green !important;
    }
</style>
<div style="width:60%;padding:10px;margin:0 auto;">
    <h1 style="font-size: 30px">Đây là trang web bán máy xông tinh dầu do nhóm 13 thực hiện</h1>
    <p style="font-size:25px;color:red">Danh sách thành viên</p>
    <ul class="config">
        <li><a href="https://www.facebook.com/doanvu2000/" style="font-size: 20px;">1.Vũ Văn Doan - 2018602294</a> </li>
        <li><a href="https://www.facebook.com/huan.nguyenvan.7374" style="font-size: 20px;"> 2.Nguyễn Văn Huân - 2018603068</a></li>
        <li><a href="https://www.facebook.com/luongbahoang.xp" style="font-size: 20px;">3.Lường Bá Hoàng - 2018602135</a> </li>
        <li><a href="https://www.facebook.com/NguyenNgocNamHIT" style="font-size: 20px;">4.Nguyễn Ngọc Nam - 2018602984</a> </li>
        <li><a href="https://www.facebook.com/thanh.cecermen.3" style="font-size: 20px;">5.Nguyễn Tiến Thành - 2018602556</a> </li>
    </ul>
</div>
