
@{
    ViewBag.Title = "DetailProduct";
}

<h2>DetailProduct</h2>


<section class="section_all" id="page_bg">
    <div class="div_index" id="page_width">
        <article class="article_center">
            <div class="index_info">
                <div class="index_1" style="margin-bottom:0px">
                    <div class="breadcrumbs breadcrumb_url" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="index.html" itemprop="item">
                                <span itemprop="name">Trang chủ</span>
                            </a>›
                        </div>
                        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="index.html" itemprop="item">
                                <span itemprop="name">Sản phẩm</span>
                            </a>›
                        </div>
                        <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="chitietsanpham.html" itemprop="item"><span itemprop="name">Máy Khuếch Tán Tinh Dầu</span></a>
                        </div>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="section_all" id="page_bg">
    <div class="div_index" id="page_width">
        <article class="article_center">
            <div class="index_info">
                <div class="index_1" style="background:#E6E6E6; margin-bottom:0px">
                    <div class="boloc">
                        <div class="div_search">
                            <form name="frmsearch" method="post" action="#">
                                <input type="text" name="name_product_search" id="name_product_search" value="" class="div_search_input" placeholder="Nhập nôi dung tìm kiếm" />
                                <input type="submit" name="button" id="button" value="TÌM KIẾM" class="div_search_submit" />
                            </form>
                        </div>
                        <div class="div_boloc">
                            <select name="one_boloc" id="one_boloc" onChange="MM_jumpMenu('parent',this,0)">
                                <option value="index.html" selected="selected"> <strong>Tìm theo danh mục</strong></option>
                                <option value="#"> <strong> Tinh Dầu Nguyên Chất</strong></option>
                                <option value="#"> <strong>&raquo; Tinh dầu từ thân, lá</strong></option>
                                <option value="#"> <strong>&raquo; Tinh dầu từ hoa</strong></option>
                                <option value="#"> <strong>&raquo; Tinh dầu từ vỏ, quả, hạt</strong></option>
                                <option value="#"> <strong>&raquo; Tinh dầu từ gỗ</strong></option>
                                <option value="#"> <strong>&raquo; Tinh dầu hỗn hợp</strong></option>
                                <option value="#"> <strong> Tinh Dầu Thơm Que Gỗ</strong></option>
                                <option value="#"> <strong> Đèn Xông Tinh Dầu</strong></option>
                                <option value="#"> <strong>&raquo; Đèn xông tinh dầu nến</strong></option>
                                <option value="#"> <strong>&raquo; Dầu massage cơ thể</strong></option>
                                <option value="#"> <strong>&raquo; Dầu dưỡng da mặt</strong></option>
                                <option value="#"> <strong>&raquo; Dầu dưỡng tóc, mọc tóc</strong></option>
                            </select>
                        </div>
                        <!---->
                        <div class="div_boloc">
                            <select name="four_boloc" id="four_boloc" onChange="MM_jumpMenu('parent',this,0)">
                                <option value="#" selected="selected"> <strong>Tìm Theo mức giá</strong></option>
                                <option value="#"> <strong>Dưới 100.000Đ</strong></option>
                                <option value="#"> <strong>100.000Đ - 200.000Đ</strong></option>
                                <option value="#"> <strong>200.000Đ - 300.000Đ</strong></option>
                                <option value="#"> <strong>Trên 300.000Đ</strong></option>

                            </select>
                        </div>
                        <div class="div_boloc">
                            <select name="one_boloc" id="one_boloc" onChange="MM_jumpMenu('parent',this,0)">
                                <option value="#" selected="selected"> <strong>Tìm theo loại hương</strong></option>
                                <option value="#"> <strong>Hương Hoa</strong></option>
                                <option value="#"> <strong>Hương Pha Trộn</strong></option>
                                <option value="#"> <strong>Hương Từ Lá</strong></option>
                                <option value="#"> <strong>Hương Trái Cây</strong></option>
                                <option value="#"> <strong>Hương Gỗ</strong></option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript" charset="utf-8">
                            function MM_jumpMenu(targ, selObj, restore) {
                                eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value + "'"); if
                                    (restore) selObj.selectedIndex = 0;
                            }
                    </script>

                </div>
            </div>
        </article>
    </div>
</section>

<section class="section_all" id="page_bg">
    <div class="div_index" id="page_width">
        <article class="article_center">
            <div class="index_info">
                <div class="index_2">
                    <div class="index_2_left" id="float_right">
                        <div itemscope itemtype="http://schema.org/Product" class="detail_P02">
                            <div class="detail_P02_img  gallery clearfix">
                                <dl>
                                    <a itemprop="image" href="image/PR1223_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-1.jpg" rel="prettyPhoto[gallery1]"><img src="image/PR1223_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-1.jpg" alt="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng" title="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng" /></a>
                                </dl>

                                <ol>
                                    <a href="image/PR0514_thong-so-may-khuech-tan-cam-tu-cau-mkt20.jpg" rel="prettyPhoto[gallery1]"><img src="image/PR0514_thong-so-may-khuech-tan-cam-tu-cau-mkt20.jpg" alt="Thông số kỹ thuật máy khuếch tán hoa Cẩm Tú Cầu" title="Thông số kỹ thuật máy khuếch tán hoa Cẩm Tú Cầu" /></a>
                                </ol>
                                <ol>
                                    <a href="image/PR0410_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-3.jpg" rel="prettyPhoto[gallery1]"><img src="image/PR0410_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-3.jpg" alt="Máy khuếch tán tinh dầu hoa Cẩm tú cầu MKT20 " title="Máy khuếch tán tinh dầu hoa Cẩm tú cầu MKT20 " /></a>
                                </ol>
                                <ol>
                                    <a href="image/PR0435_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-2.jpg" rel="prettyPhoto[gallery1]"><img src="image/PR0435_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-2.jpg" alt="Máy khuếch tán tinh dầu hoa Cẩm tú cầu MKT20 " title="Máy khuếch tán tinh dầu hoa Cẩm tú cầu MKT20 " /></a>
                                </ol>

                            </div>

                            <div class="detail_P02_content">
                                <h1 itemprop="name" content="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng">Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng</h1>
                                <hr size="1">
                                <dl class="detail_P02_rating">
                                    <div class="detail_P02_rating_box">
                                        <div style="width:1371.1%;" class="rating"></div>
                                    </div>
                                </dl>
                                <i style="font-size:90%; line-height:30px">
                                    (128 Lượt đánh giá) - 5631 lượt mua
                                </i>
                                <hr size="1">
                                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="detail_P02_left">
                                    <p>Mã sản phẩm: <strong>MKT20-H</strong></p>
                                    <span itemprop="name">Nhà sản xuất</span>
                                    : <strong itemprop="value">Preserved Fresh Flower</strong>
                                    </p>
                                    <span itemprop="name">Loại sản phẩm</span>
                                    : <strong itemprop="value">Máy khuếch tán siêu âm</strong>
                                    </p>
                                    <span itemprop="name">Chất lượng</span>
                                    : <strong itemprop="value">Hàng loại 1</strong>
                                    </p>
                                    <span itemprop="name">Trọng lượng</span>
                                    : <strong itemprop="value">0.5 kg</strong>
                                    </p>
                                    <p><span>Giá bán: </span></p>
                                    <p style="float:left; width:280px; margin-top:5px">
                                        <strong class="detail_P02_gb" itemprop="price" content="650000">650.000 Đ</strong>
                                        <strong itemprop="priceCurrency" content="VND"></strong>
                                        <a href="GioHang.html"><span class="detail_P02_cart">Đặt Mua</span></a>
                                    </p>

                                </div>
                                <div class="detail_P02_right">
                                    <a title="Hướng dẫn mua hàng" href="#"><p><strong>&bull;</strong> Hướng dẫn mua hàng</p> </a>
                                    <a title="Hướng dẫn thanh toán" href="#"><p><strong>&bull;</strong> Hướng dẫn thanh toán</p> </a>
                                    <a title="Phương thức giao hàng" href="#"><p><strong>&bull;</strong> Phương thức giao hàng</p> </a>
                                    <a title="Thông tin khuyến mãi" href="#"><p><strong>&bull;</strong> Thông tin khuyến mãi</p> </a>
                                    <a title="Cách dùng đèn xông tinh dầu" href="#"><p><strong>&bull;</strong> Cách dùng đèn xông tinh dầu</p> </a>
                                    <a title="Chính sách đổi trả" href="#"><p><strong>&bull;</strong> Chính sách đổi trả</p> </a>
                                    <a title="Bảng giá máy khuếch tán" href="#"><p><strong>&bull;</strong> Bảng giá máy khuếch tán</p> </a>
                                    <a title="Bảng giá bán lẻ tinh dầu" href="#"><p><strong>&bull;</strong> Bảng giá bán lẻ tinh dầu</p> </a>
                                </div>
                                <hr size="1">
                                <div class="description" itemprop="description"><h2>Máy khuếch tán tinh dầu MKT20-H màu hồng là sản phẩm thuộc series máy khuếch tán có hình hoa cẩm tú cầu. Đây là mẫu máy nhỏ gọn và xinh xắn thích hợp cho phòng ngủ và không gian nhỏ.</h2></div>
                                <div class="detail_P02_share">
                                </div>
                            </div>

                            <div class="detail_P02_description">
                                <strong>Mô tả</strong>
                                <hr size="1">
                                <div class="detail_P02_description">
                                    <div style="text-align: justify;">
                                        <div>
                                            <strong><a href="#">M&aacute;y khuếch t&aacute;n tinh dầu cẩm t&uacute; cầu MKT20</a></strong>&nbsp;c&oacute; kiểu d&aacute;ng đẹp, nhỏ gọn, thiết kế dễ thương, đường k&iacute;nh 12cm, cao 17cm, dung t&iacute;ch nước 100 ml. Loại m&aacute;y n&agrave;y th&iacute;ch hợp cho kh&ocirc;ng gian ph&ograve;ng dưới 25m2, một lần đổ đầy nước phun tối đa được 7h.<br />
                                            &nbsp;
                                        </div>
                                        <div style="text-align: center;"><img src="image/may-khuech-tan-tinh-dau-cam-tu-cau-dep-gia-re-1.jpg" alt="M&aacute;y khuếch t&aacute;n tinh dầu hoa Cẩm t&uacute; cầu m&agrave;u xanh, m&agrave;u hồng - shop Hương Sắc Việt" width="600" height="400" title="M&aacute;y khuếch t&aacute;n tinh dầu hoa Cẩm t&uacute; cầu m&agrave;u xanh, m&agrave;u hồng - shop Hương Sắc Việt" /></div>
                                        <div>&nbsp;</div>
                                        <h3>Th&ocirc;ng số kỹ thuật m&aacute;y khuếch t&aacute;n tinh dầu Cẩm t&uacute; cầu MKT20:</h3>
                                        <div>
                                            <br />
                                            - Điện &aacute;p: 100-220V<br />
                                            - M&agrave;u sắc: hồng, xanh dương, xanh l&aacute;<br />
                                            - K&iacute;ch thước (Đường k&iacute;nh x Cao): 12 x 17 cm<br />
                                            - Diện t&iacute;ch khuếch t&aacute;n: 20-25 m2<br />
                                            - Dung t&iacute;ch nước: 100ml<br />
                                            - Thời gian hoạt động li&ecirc;n tục : 4-7 tiếng<br />
                                            - M&aacute;y tự dừng khi hết nước<br />
                                            - Bảo h&agrave;nh: 06 th&aacute;ng<br />
                                            <br />
                                            <div style="text-align: center;"><img src="image/may-khuech-tan-tinh-dau-cam-tu-cau-dep-gia-re-8.jpg" alt="M&aacute;y x&ocirc;ng khuếch t&aacute;n tinh dầu MKT20-H cẩm t&uacute; cầu hồng" title="M&aacute;y x&ocirc;ng khuếch t&aacute;n tinh dầu MKT20-H cẩm t&uacute; cầu hồng" />&nbsp;</div>
                                        </div>
                                        <h3>Ưu điểm của d&ograve;ng m&aacute;y khuếch t&aacute;n tinh dầu hoa Cẩm t&uacute; cầu MKT20:</h3>
                                        <div>
                                            <br />
                                            - Kiểu d&aacute;ng đẹp, họa tiết dễ thương ph&ugrave; hợp với mọi kh&ocirc;ng gian trong ng&ocirc;i nh&agrave; bạn. Sử dụng được trong nhiều kh&ocirc;ng gian như: Ph&ograve;ng kh&aacute;ch, ph&ograve;ng ngủ, b&agrave;n l&agrave;m việc&hellip;<br />
                                            - C&oacute; 2 chế độ m&agrave;u sắc để bạn thoải m&aacute;i lựa chọn chế độ ph&ugrave; hợp nhất.<br />
                                            - C&oacute; 2 chế độ phun mạnh v&agrave; phun yếu th&iacute;ch hợp cho nhu cầu của từng người.<br />
                                            - Gi&uacute;p ngủ ngon giấc, thư gi&atilde;n cơ thể, giảm căng thẳng mệt mỏi sau những giờ l&agrave;m việc vất vả.<br />
                                            - L&agrave;m sạch, diệt khuẩn, lọc ion v&agrave; giảm bụi bẩn trong kh&ocirc;ng kh&iacute;.<br />
                                            - Hết nước tự tắt, gi&uacute;p bạn an t&acirc;m hơn về độ an to&agrave;n của thiết bị.<br />
                                            - C&aacute;ch sử dụng đơn giản, dễ d&agrave;ng.<br />
                                            - L&agrave; một trong nhung mau may khuech tan tinh dau mini ban chay nhat, m&oacute;n qu&agrave; tặng &yacute; nghĩa cho bạn b&egrave; v&agrave; người th&acirc;n.<br />
                                            &nbsp;
                                        </div>
                                        <div>
                                            <strong>LƯU &Yacute; KHI&nbsp;SỬ DỤNG M&Aacute;Y KHUẾCH T&Aacute;N TINH DẦU CẨM T&Uacute; CẦU</strong><strong>:</strong><br />
                                            <br />
                                            -	M&aacute;y tự ngừng khi hết nước, kh&ocirc;ng chạy khi mức nước thấp hoặc nhiều hơn quy định<br />
                                            <br />
                                            -	Kh&ocirc;ng mở nắp khi m&aacute;y đang hoạt động<br />
                                            <br />
                                            -	Giữ vệ sinh m&aacute;y sạch sẽ, kh&ocirc;ng để nước v&agrave; tinh dầu tr&agrave;n ra ngo&agrave;i khoang chứa nước<br />
                                            <br />
                                            - Với may khuyech tan tinh dau sieu am, chỉ n&ecirc;n sử dụng c&aacute;c loại&nbsp;tinh dầu thi&ecirc;n nhi&ecirc;n, tinh dầu x&ocirc;ng thơm chuy&ecirc;n dụng
                                        </div>
                                        <div>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div id="fb-root"></div>

                        <div style="padding-top:20px">
                        <div class="fb-comments" data-href="https://tinhdaulachampa.net/254-may-khuech-tan-tinh-dau-mkt20-h-cam-tu-cau-hong.html" data-width="100%" data-num-posts="20"></div>
                        </div>  -->
                        <div style="float:left; width:100%; margin-top:20px">
                        </div>
                    </div>
                    <div class="index_2_right" id="float_left">
                        <div class="left_top_new">
                            <ul class="menu_left_03">
                                <h4>Danh mục sản phẩm</h4>
                                <li>
                                    <ul class="menu_left_03_ul">
                                        <li><a title="Tinh Dầu Nguyên Chất" href="#">Tinh Dầu Nguyên Chất</a></li>
                                        <li><a href="#">&nbsp;&raquo; Tinh dầu từ thân, lá</a></li>
                                        <li><a href="#">&nbsp;&raquo; Tinh dầu từ hoa</a></li>
                                        <li><a href="#">&nbsp;&raquo; Tinh dầu từ vỏ, quả, hạt</a></li>
                                        <li><a href="#">&nbsp;&raquo; Tinh dầu từ gỗ</a></li>
                                        <li><a href="#">&nbsp;&raquo; Tinh dầu hỗn hợp</a></li>

                                        <li><a title="Tinh Dầu Thơm Que Gỗ" href="#">Tinh Dầu Thơm Que Gỗ</a></li>
                                        <li><a title="Máy Khuếch Tán Tinh Dầu" href="#">Máy Khuếch Tán Tinh Dầu</a></li>
                                        <li><a title="Đèn Xông Tinh Dầu" href="#">Đèn Xông Tinh Dầu</a></li>
                                        <li><a href="#">&nbsp;&raquo; Đèn xông tinh dầu nến</a></li>
                                        <li><a href="#">&nbsp;&raquo; Đèn xông tinh dầu điện</a></li>

                                        <li><a title="Xà Bông Thiên Nhiên" href="#">Xà Bông Thiên Nhiên</a></li>
                                        <li><a title="Dầu Massage Luxury" href="#">Dầu Massage Luxury</a></li>
                                        <li><a href="#">&nbsp;&raquo; Dầu Nền, Dầu Dẫn </a></li>
                                        <li><a href="#">&nbsp;&raquo; Dầu massage cơ thể</a></li>
                                        <li><a href="#">&nbsp;&raquo; Dầu dưỡng da mặt</a></li>
                                        <li><a href="#">&nbsp;&raquo; Dầu dưỡng tóc, mọc tóc</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="foreach_PTOP">
                                <h4>Sản phẩm bán chạy</h4>
                                <li>
                                    <dl class="foreach_PTOP_img">
                                        <a href="#" title="Máy khuếch tán Tulip trứng 500ml giá rẻ có remote FX034-TW">
                                            <img src="image/PR1035_may-khuech-tan-tulip-gia-re-500ml-fx034-4.jpg" alt="Máy khuếch tán Tulip trứng 500ml giá rẻ có remote FX034-TW" />
                                        </a>
                                    </dl>
                                    <dl class="foreach_PTOP_title">
                                        <ol class="foreach_PTOP_name">
                                            <a href="#" title="Máy khuếch tán Tulip trứng 500ml giá rẻ có remote FX034-TW"><span>Máy khuếch tán Tulip trứng 500ml giá...</span></a>
                                            <p>480,000 Đ</p>
                                        </ol>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="foreach_PTOP_img">
                                        <a href="#" title="Tinh dầu Sả Chanh tinh chất">
                                            <img src="image/PR0909_tinh-dau-sa-chanh.jpg" alt="Tinh dầu Sả Chanh tinh chất" />
                                        </a>
                                    </dl>
                                    <dl class="foreach_PTOP_title">
                                        <ol class="foreach_PTOP_name">
                                            <a href="#" title="Tinh dầu Sả Chanh tinh chất"><span>Tinh dầu Sả Chanh tinh chất</span></a>
                                            <p>75,000 Đ</p>
                                        </ol>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="foreach_PTOP_img">
                                        <a href="#" title="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng">
                                            <img src="image/PR1223_may-khuech-tan-tinh-dau-cam-tu-cau-mkt20-1.jpg" alt="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng" />
                                        </a>
                                    </dl>
                                    <dl class="foreach_PTOP_title">
                                        <ol class="foreach_PTOP_name">
                                            <a href="#" title="Máy khuếch tán tinh dầu MKT20-H cẩm tú cầu hồng"><span>Máy khuếch tán tinh dầu MKT20-H cẩm...</span></a>
                                            <p>650,000 Đ</p>
                                        </ol>
                                    </dl>
                                </li>
                            </ul>

                            <ul class="foreach_NTOP">
                                <h4>
                                    Bí quyết dùng tinh dầu
                                </h4>
                                <li>
                                    <dl class="foreach_NTOP_img">
                                        <a href="#" title="Những loại tinh dầu tốt nhất cho trẻ sơ sinh và trẻ nhỏ">
                                            <img src="image/NE0422_tinh-dau-tot-va-an-toan-cho-tre-so-sinh-va-tre-nho-1.jpg" alt="Những loại tinh dầu tốt nhất cho trẻ sơ sinh và trẻ nhỏ" title="Những loại tinh dầu tốt nhất cho trẻ sơ sinh và trẻ nhỏ" />
                                        </a>
                                    </dl>
                                    <dl class="foreach_NTOP_title">
                                        <ol class="foreach_NTOP_name">
                                            <a href="#" title="Những loại tinh dầu tốt nhất cho trẻ sơ sinh và trẻ nhỏ"><span>Những loại tinh dầu tốt nhất cho trẻ...</span></a>
                                            <i>14467 Lượt xem.</i>
                                        </ol>
                                    </dl>
                                </li>
                                <li>
                                    <dl class="foreach_NTOP_img">
                                        <a href="#" title="TOP 10 máy khuếch tán xông tinh dầu tốt nhất hiện nay 2021">
                                            <img src="image/NE0646_may-khuyech-tan-tinh-dau-binh-hoa-tulip-400ml-3.jpg" alt="TOP 10 máy khuếch tán xông tinh dầu tốt nhất hiện nay 2021" title="TOP 10 máy khuếch tán xông tinh dầu tốt nhất hiện nay 2021" />
                                        </a>
                                    </dl>
                                    <dl class="foreach_NTOP_title">
                                        <ol class="foreach_NTOP_name">
                                            <a href="#" title="TOP 10 máy khuếch tán xông tinh dầu tốt nhất hiện nay 2021"><span>TOP 10 máy khuếch tán xông tinh dầu tốt...</span></a>
                                            <i>99695 Lượt xem.</i>
                                        </ol>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>