
@{
    ViewBag.Title = "GioHang";
}

<!-- gio hang -->
<section class="section_all" id="page_bg">
    <div class="div_index" id="page_width">
        <article class="article_center">
            <div class="index_info">
                <div style="padding:10px;font-weight: bold;font-size: 20px;">
                    THÔNG TIN GIAO HÀNG
                </div>
            </div>
        </article>
        <div class="index_1">
            <form name="frm_update_cart" method="post" enctype="multipart/form-data">
                <input name="numitem" value="2" type="hidden">
                <div class="dita_cat_info">
                    <h3 style="text-transform:uppercase;">Thông tin giao hàng </h3>
                    <div class="dita_cat_left" id="dita_cat_left">
                        @{
                            Html.RenderAction("_DC_GiaoHang", "Home");
                        }
                    </div>
                    <div class="dita_cat_right" id="dita_cat_left">
                        
                        <!--don hang-->
                        <table border="1" cellpadding="0" cellspacing="0" width="100%" class="dita_border_solid">
                            <tbody>
                                <tr class="dita_td_cart">
                                    <td align="center" id="display_cat_img" style="max-width:100px !important">Hình</td>
                                    <td align="center">Tên sản phẩm</td>
                                </tr>
                                @{
                                    Html.RenderAction("_CT_GioHang", "Home");
                                }
                            </tbody>
                        </table>
                        <!--end don hang-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

