
@{
    ViewBag.Title = "Signin";
    Layout = null;
}


    <link rel="stylesheet" href="~/wwwroot/css/style.css" />

    <style>
        .signin-form {
            margin-top: 50px;
        }

            .signin-form .form-group {
                margin-bottom: 35px !important;
            }

        body .signin-form .form-group label {
            text-transform: none !important;
            font-size: 16px !important;
            color: gray !important;
        }

        body {
            font-family: Arial !important;
        }
    </style>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="wrap">
                <div class="login-wrap p-4 p-md-5">
                    <div class="w-200">
                        <h3 class="mb-4" style="font-family: Arial;text-align: center; font-weight: 700; color: #01d28e;margin-top: 30px;">ĐĂNG KÝ</h3>
                    </div>

                    <form action="#" class="signin-form">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control">
                            <label class="form-control-placeholder" for="username">Tên đăng nhập</label>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control">
                            <label class="form-control-placeholder" for="password">Mật khẩu</label>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control">
                            <label class="form-control-placeholder" for="email">Email</label>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control">
                            <label class="form-control-placeholder" for="phoneNumber">Số điện thoại</label>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="md-textarea form-control" rows="3"></textarea>
                            <label class="form-control-placeholder" for="address">Địa chỉ</label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">ĐĂNG KÝ</button>
                        </div>

                    </form>
                    <p class="text-center">Quay trở lại <a href="Login">Đăng nhập</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/wwwroot/js/jquery.min.js"></script>
<script src="~/wwwroot/js/popper.js"></script>
<script src="~/wwwroot/js/bootstrap.min.js"></script>
<script src="~/wwwroot/js/main.js"></script>
<script>
    function toAdmin() {
        event.preventDefault()
        window.location.href = "../Admin/index.html"
    }</script>